# Web Framework
Flask==2.3.0
Werkzeug==2.3.0

# Intentionally vulnerable dependencies for testing SCA
requests==2.25.1
Jinja2>=2.11.3
urllib3==1.26.5

# Testing
pytest==7.4.3
pytest-cov==4.1.0
pytest-flask==1.3.0

# Code Quality
pylint==3.0.3
bandit==1.7.5
pbr==5.11.1

#files for SAST and DAST 
#unzip

# Production
gunicorn==21.2.0